@import "../../../scss/base.scss";

.login {
  @include flex(unset, unset);
  width: 100%;
  height: 100vh;
}

.login__banner {
  @include flex(center, center);
  width: 50%;

  background: url("../../../assets/auth.svg");
  background-position: center;
  background-size: cover;
}

.login__heading {
  @include flex(flex-start, flex-start);
  flex-direction: column;

  font-size: 3rem;
  line-height: 1.25;
}

.login__order {
  width: 100%;
  font-weight: 500;
  background: black;
  color: white;
}

.login__enter {
  @include flex(center, center);
  width: 50%;
  padding: 2rem;
  overflow: scroll;

  background: rgb(250, 250, 250);
}

.login__form-wrapper {
  @include flex(unset, center);
  flex-direction: column;
  max-width: 440px;
  width: 100%;
  height: 80%;

  margin: 0 auto;
}

.login__welcome {
  margin: 1.5rem 0;
}

.login__inputs {
  @include flex(unset, unset);
  flex-direction: column;
  margin: 0.5rem 0;
}

.login__input {
  margin: .75rem 0;
  padding: .75rem 1rem;

  outline: none;
  border: 1px solid rgb(226, 226, 226);
  border-radius: 0.75rem;
}

.login__input:focus {
  border: 1px solid $orange;
}

.login__buttons {
  @include flex(center, space-between);
  margin: 2rem 0;
}

.login__button {
  width: 47.5%;
  padding: .75rem 1rem;

  outline: none;
  border: none;
  border-radius: 0.75rem;

  font-size: .9rem;
  font-weight: 500;

  cursor: pointer;
}

.login__signin {
  border: 2px solid $green;
  background: $green;
  color: white;
}

.login__signup {
  border: 2px solid $green;
  background: white;
  transition: .2s;
}

.login__signup:hover {
  background: $green;
  color: white;
}

@media only screen and (max-width: 767px) {
  .login__banner {
    display: none;
  }

  .login__enter {
    width: 100%;
  }
}

@media only screen and (max-width: 499px) {
  .login__buttons {
    flex-direction: column;
  }

  .login__button {
    margin: 1rem 0;
    width: 100%;
  }
}
